.header {
  background-color: #FFFFFF;
  border-bottom: solid 1px #ffffff;
  text-align: center;
}

.header__title {
  color: 	#ffffff;
  padding: 15px 15px;
  font-size: 21px;
  background-color: #71db77;
}
